@media only screen and (min-width:20rem) and (max-width:40rem) { 
	body {
		overflow-x: hidden;
	}

	nav {
		min-width: 100%;
		max-width: 100%;
		bottom: 0;
		height: 4em;
		-webkit-box-shadow: 20px 17px 22px -4px rgba(0,0,0,0.33);
		-moz-box-shadow: 20px 17px 22px -4px rgba(0,0,0,0.33);
		box-shadow: 20px 17px 22px -4px rgba(0,0,0,0.33);
	}
	
	.Logo {
		display: none;
	}

	nav .buttons {
		display: inline-block;
		margin: 0 auto;
	}
	
	nav .buttons a {
		display: inline;
		text-align: center;
		transition: 0.3s;
	}
	
	nav .buttons .fas {
		display: initial;
		font-size: 2em;
		margin-bottom: 0.1em;
	}

	nav .buttons a > span {
		display: none;
    }
    
    nav .buttons span > a {
        display: inline-block;
        margin-right: 1px;
    }

    nav .buttons span > a > span {
        display: none;
    }
	
}
