:root {
	--background: #010e1f;
	--main-color: #3c6287;
	--secondary-color: #98dab4;
	--decorators: #232323;
	--unsolved: #DD7777;;
}

.container, .row, .column {
    padding: 0;
}

canvas{position: absolute; widows: 100%; height: 100%;}

/* Navbar */
nav {
	position: absolute;
	background: var(--background);
	min-width: 15em;
  max-width: 15em;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.Logo {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

.Logo > .far {
	display: block;
	font-size: 6em;
	background: rgb(65, 110, 136);
	background: -moz-linear-gradient(-45deg, rgba(255,145,0,1) 0%, rgba(255,238,0,1) 18%, rgba(140,255,0,1) 36%, rgba(0,251,255,1) 62%, rgba(13,0,255,1) 80%, rgba(238,0,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,145,0,1)), color-stop(18%, rgba(255,238,0,1)), color-stop(36%, rgba(140,255,0,1)), color-stop(62%, rgba(0,251,255,1)), color-stop(80%, rgba(13,0,255,1)), color-stop(100%, rgba(238,0,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,145,0,1) 0%, rgba(255,238,0,1) 18%, rgba(140,255,0,1) 36%, rgba(0,251,255,1) 62%, rgba(13,0,255,1) 80%, rgba(238,0,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,145,0,1) 0%, rgba(255,238,0,1) 18%, rgba(140,255,0,1) 36%, rgba(0,251,255,1) 62%, rgba(13,0,255,1) 80%, rgba(238,0,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,145,0,1) 0%, rgba(255,238,0,1) 18%, rgba(140,255,0,1) 36%, rgba(0,251,255,1) 62%, rgba(13,0,255,1) 80%, rgba(238,0,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,145,0,1) 0%, rgba(255,238,0,1) 18%, rgba(140,255,0,1) 36%, rgba(0,251,255,1) 62%, rgba(13,0,255,1) 80%, rgba(238,0,255,1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Logo span {
	font-size: 1.5em;
	margin: 0 auto;
	color: #8ec975;
}

nav .buttons {
	margin: 0 auto;
}

nav .buttons a {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	text-decoration: none;
	color: var(--main-color);
	transition: 0.3s;
}

nav .buttons a:hover {
	color: var(--secondary-color)
}

nav .buttons .fas {
	display: block;
	font-size: 3em;
}

/* AdminPanel */
.AdminPanel table { 
		text-align: center;
		width: 90%;
    margin: 0 10%;
}

.AdminPanel table th, .AdminPanel table td {
    text-align: center;
}

.AdminPanel table th {
    background: var(--background);
    color: var(--main-color);
}

.AdminPanel #paginator, .ReportList #paginator {
    text-align: center;
    margin-top: 1em;
}

.AdminPanel #paginator li, .ReportList #paginator li {
	cursor: pointer;
	background: var(--background);
	color: var(--main-color);
	font-weight: bold;
	padding-top: 0.2em;
	border-radius: 2em; 
	width: 2em;
	height: 2em;
	margin: auto 0.5em auto 0.5em;
	list-style: none;
	text-align: center;
	display: inline-block;
	transition: 0.3s
}

.AdminPanel #paginator li:hover, .ReportList #paginator li:hover {
	background: var(--secondary-color);
	display: inline-block;
}

.AdminPanel .controller i {
	cursor: pointer;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

/* 404 */
._404 .fa-frown {
	font-size: 10rem;
}

._404 {
	position: absolute;
	margin: 4em auto auto 20%;
	text-align: center;
}

._404 a, ._404 a:active, ._404 a:link {
	color: #015367;
}

._404 a:hover {
	color:#04819E;
}

/* Buttons and others */
.button-blue-dark {
	border: var(--main-color);
	background: var(--main-color);
	transition: 0.3s;
}

.button-blue-dark:hover, .button-blue-dark[disabled]:hover  {
	border: var(--secondary-color);
	background: var(--secondary-color); 
}

.lds-dual-ring {
	width: 50%;
	display: table;
	margin: 0 auto;
	width: 64px;
	height: 64px;
}

.Login {
	margin-top: 5em;
	text-align: center;
}

.Login .fas {
	font-size: 10em;
	margin-bottom: 0.1em;
}

/* New Note */
textarea {resize:  none; 	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;}
.editor-container {margin-top: 5em; width: 60em;}
.editor-container input[type="checkbox"] {margin-left: 8px; transform: scale(0.8);}
.editor-container .progress-container {float: right;}
.editor-container .label-inline {font-size: 12px;}

/* Notas */

.Note {
	background: #F1F1EE;
	width: 65%;
	border-radius: 5px;
	margin: 20px auto;
	-webkit-box-shadow: 10px 10px 6px -3px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 6px -3px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 6px -3px rgba(0,0,0,0.3);
}

.Note .far {
	cursor: pointer;
}

.Note .decorator {
	max-width: 5px;
	min-width: 5px;
	width: 5px;
	display: block;
	background: var(--background);
}

.Note .body-info {
	line-height: 300%;
}

.Note .body-info strong {
	color: black;
}

.Note time {
	float: right;
	margin-right: 20px;
}

.Note .controllers {
	text-align: center;
	margin: 30% 2px auto 2px;
}

.Note .editMode {
	margin-top: 1em;
}

.Note .editMode textarea {
	height: 7em;
}

.Note .normalMode {
	padding-top: 2em;
	padding-left: 2em; 
}


.Note .controllers i {
margin: auto 5px;
	color: black;
	transition: 0.2s;
}

.Note h5 {
	font-weight: bold;
}

.Note .controllers .fa-heart:hover {
	color: #DD7777;
	cursor: pointer
}

.Note .controllers .liked {
	color: var(--unsolved)
}

.Note .controllers .fa-edit:hover {
	color: #B4ECB4;
	cursor: pointer
}

.Note .controllers .fa-flag:hover {
	color: #7777DD;
	cursor: pointer;
}

.Note .controllers .fa-share:hover {
	color: #58d7bd;
	cursor: pointer;
} 

.Feed {
	margin-top: 1em;
	margin-left: 10em;
}

/* Reports */
.ReportList{
	margin-top: 2em;
}

.Report {
	background: #F1F1EE;
	width: 30em;
	border-radius: 5px;
	margin: 5px auto;
	margin-top: 0px;
	padding: 1em;
}

.Report .fas {
	float: right;
	transition: 0.3s;
}

.Report .fas:hover {
	color: var(--secondary-color);
	cursor: pointer;
}

/* Settings */
.settings {
	display: block;
	z-index: -1;
	width: 50em;
	margin: 5em 30em;
}

/* NotLogged */
.NotLoggedHome {
	text-align: center;
	margin: 10em 30%;
}

.NotLoggedHome h1, .NotLoggedHome h5 {
	color: white;
	font-weight: 500;
}

.NotLoggedHome a {
	margin-left: 1em;
	margin-right: 1em;
	color: var(--main-color);
}

.NotLoggedHome a:hover{
	color: var(--secondary-color);
}

.bgHome {
	z-index: -1;
	background: var(--background);
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

canvas {
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: -2;
}

/*
 * Animations
*/

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}



input[type="email"]:focus, input[type="number"]:focus,
input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus,
textarea:focus, select:focus {
	border-color: var(--main-color);
}

@media (max-width: 639px) {
    nav {min-width: 100%; max-width: 100%; min-height: 3.5em; max-height: 5em; text-align: center; position: relative;}

    nav .buttons{margin: 0;}

    .Logo {display: none;}

    nav .buttons div > a .fas {display: none;}

    nav .buttons a {display: inline; margin: 0.2em;}

		.AdminPanel table {
			width: 100%;
			margin: 0 0;
		}

		.editor-container {
			margin-top: 2em;
			padding-left: 15%;
			text-align: center; 
			width: 25em;
		}

		.Feed {
			margin-left: 0em;
		}

		.settings {
			text-align: center;
			margin: 1em 1em;
			width: 20em;
		}

		.settings h1 {
			margin-left: 0.5em;
		}

		.settings input[type="password"] {
			margin: 1.5em;
			width: 19em;
			display: block;
		}

		.settings button {
			margin-left: 3.5em;
		}

		.Note .editMode {
			margin-top: 1em;
			padding-left: 1em; 
		}
		
		.Note .editMode textarea {
			height: 7em;
		}
		
		.Note .normalMode {
			padding-top: 2em;
			padding-left: 2em; 
		}

		.comp2FA input[type="checkbox"] {margin-left: 0px;}

		.comp2FA .label-inline {margin-left: 0em;}

		.Report {width: 20em;}
}

@media (min-width: 640px) {
	body {overflow-x: hidden; }

	nav {
		position: absolute;
		z-index: 100;
	}

	.editor-container {
		z-index: -1;
		margin-left: 15em;
		width: 50em;
	}

	.AdminPanel table {
		margin-left: 12em;
	}

	.ReportList {
		margin-left: 15em;
	}

	.settings {
		width: 25em;
		margin-left: 20em;
	}
}