/*
 * Estilos para el Navbar
*/
.NavBar a, .NavBar button, .NavBar a:active, .NavBar button:active, .NavBar a:link, .NavBar button:link {
	margin: 0 5px;
	font-weight: 500;
	cursor: pointer;
	color: #015367;
}

.NavBar a:hover, .NavBar button:hover {
	color:#04819E;
}

.NavBar {
	background: #F1F1EE;
	margin-bottom: 0px;
	padding: 0.5em;
}

.decoratorNavbar {
	width: 100%;
	height: 3px;
	content: " ";
}

.Menu {margin-bottom: 30px;}

/*
 * Estilos para el Feed
*/

.endFeed {
	margin-top: 40px;
	text-align: center;
}

/*
 * Estilos para las notas
*/
.Note {
    background: #F1F1EE;
    width: 65%;
    border-radius: 5px;
    margin: 5px auto;
}

.Note .far {
	cursor: pointer;
}

.Note .decorator {
    max-width: 5px;
    min-width: 5px;
    width: 5px;
    display: block;
    background: red;
}

.Note .body-info {
    line-height: 300%;
}

.Note .body-info :active, .Note .body-info :link, .Note .body-info :visited {
    color: black;
    transition: 0.2s;
}

.Note .body-info strong {
	color: black;
	transition: 0.2s;
}

.Note .body-info strong:hover {
    color: white;
}

.Note time {
	float: right;
	margin-right: 20px;
}

.Note .controllers {
	text-align: center;
	margin: 30% 2px auto 2px;
}

.Note .controllers i {
	margin: auto 5px;
    color: black;
    transition: 0.2s;
}

.Note h5 {
	font-weight: bold;
}

.Note .controllers .fa-heart:hover {
	color: #DD7777;
	cursor: pointer
}

.Note .controllers .liked {
	color: #DD7777;
}

.Note .controllers .fa-edit:hover {
	color: #B4ECB4;
	cursor: pointer
}

.Note .controllers .fa-flag:hover {
	color: #7777DD;
	cursor: pointer;
}

.Note .avatar {
    border-radius: 50px;
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    margin-left: 20%;
    margin-top: 15%;
}

/*
 * Botones y otros elementos
*/
.button-blue-dark {
	border: #015367;
	background: #015367;
}

.button-blue-dark:hover {
	border: #04819E;
	background: #04819E; 
}

.lds-dual-ring {
	width: 50%;
	display: table;
	margin: 0 auto;
	width: 64px;
	height: 64px;
}

input[type="email"]:focus, input[type="number"]:focus,
input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus,
textarea:focus, select:focus {
	border-color: #04819E;
}
	
/*
 * Spinner & animations
*/
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

/*
 *	Editor
*/

div.DraftEditor-root {
	border: 0.1rem solid #d1d1d1;
	border-radius: .4rem;
	padding: 8px;
}	

.progress-container {
	float: right;
}

.progress-container  circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
	transform-origin: 50% 50%;
	display: block;
}

.editor-container .buttons {
	display: flex;
	justify-content: center;
}

.editor-container .buttons button{
	margin: 5px;
}

.editor-container textarea {
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	resize: none;
	height: 150px;
}

/*
 * 404
*/
._404 .fa-frown {
	font-size: 10rem;
}

._404 {
	text-align: center;
}

._404 a, ._404 a:active, ._404 a:link {
	color: #015367;
}

._404 a:hover {
	color:#04819E;
}


/*
 * Settings
*/

/*
 * Media queries
*/

@media only screen and (min-width:20rem) and (max-width:40rem) { 
	.NavBar span {
		text-align: center;
		width: 100%;
	}
}